.banner-section {
    background-image: url(../../../assets/img/bg.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -50px;
    height: 945px;
    position: relative;
    overflow: hidden;
}

.banner-section .main-menu {
    position: absolute;
    bottom: 100px;
    left: 667px;
    transform: scale(2);
}

.banner-section .photo {
    width: 850px;
    position: absolute;
    right: 0;
    bottom: -65px;

}

.banner-section .main-title {
    color: #ef6273;
    font-size: 227px;
    position: absolute;
    top:  222px;
    left: 281px;
    transition: 0.2s ease;
}

.banner-section .main-title:hover {
    cursor: pointer;
    color: #ef6273;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 50px #fff;
}

.banner-section .main-subtitle {
    color: #737373;
    font-size: 115px;
    position: absolute;
    top: 280px;
    left: 410px;
    letter-spacing: 24px;
}

.banner-section .main-subtitle.-vertical {
    left: -316px;
    top: 370px;
    font-size: 200px;
    color: rgba(192, 192, 192, 0.712);
    letter-spacing: -9px;
}

.banner-section .photo-glitch {
    transform: scale(2.125);
    position: absolute;
    bottom: 231px;
    right: 226px;
    z-index: 2;
}