.banner-section {
    background-image: url(../../../assets/img/bg.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -50px;
    height: 945px;
    position: relative;
    overflow: hidden;
}

.banner-section .main-menu {
    position: absolute;
    bottom: 50px;
    left: 600px;
    display: none;
}

.banner-section .photo {
    width: 850px;
    position: absolute;
    right: 0;
    bottom: -65px;

}

.banner-section .main-title {
    color: #ef6273;
    font-size: 227px;
    position: absolute;
    top:  222px;
    left: 281px;
    transition: 0.2s ease;
    display: none;
}

.banner-section .main-title:hover {
    cursor: pointer;
    color: #ef6273;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 50px #fff;
}

.banner-section .main-subtitle {
    color: #737373;
    font-size: 115px;
    position: absolute;
    top: 280px;
    left: 410px;
    letter-spacing: 24px;
    display: none;
}

.banner-section .main-subtitle.-vertical {
    left: -316px;
    top: 370px;
    font-size: 200px;
    color: rgba(192, 192, 192, 0.712);
    letter-spacing: -9px;
    display: block;
}

.banner-section .photo-glitch {
    transform: scale(2.125);
    position: absolute;
    bottom: 231px;
    right: 226px;
    z-index: 2;
}

.banner-photo {
  opacity: 0; /* Inicialmente invisível */
  transform: translateX(50px); /* Posição inicial para animação */
  transition: all 0.3s ease-in-out;
  display: flex;
  width: 850px;
  height: 850px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* CSS (loader.css ou outro arquivo de estilos) */
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(50px); /* Começa deslocada para baixo */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Termina na posição original */
    }
  }
  
  .fadeInLeft {
    animation: fadeInLeft 1s ease-out forwards; /* Animação ao ativar a classe */
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px); /* Começa deslocada para baixo */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Termina na posição original */
    }
  }
  
  .fadeInUp {
    animation: fadeInUp 1s ease-out forwards; /* Animação ao ativar a classe */
  }

